body {
    background-image: url("../plaatjes/achtergrond.jpg");
    background-size: cover;
}

article {
    display: block;
    font-family: Trebuchet, Trebuchet MS, Verdana;
    text-align: center;
    float: right;
    width: 85%;
    margin: 10px;
    padding: 10px;
    background-color: #64F5E6;
    /* lichtblauw */
}

footer {
    margin-left: -8px;
    margin-right: -8px;
    background-color: white;
    padding: 5px;
    clear: both;
}

header {
    margin-top: -8px
}

nav {
    float: left;
    width: 15%;
    position: absolute;
}

.menu {
    display: block;
    width: 70px;
    background-color: #64F5E6;
    /* lichtblauw */
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black;
}

.menu:hover {
    background-color: black;
    color: #64F5E6;
    /* lichtblauw */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}